## .NET / ASP.NET Core
bin/
obj/
*.user

## Visual Studio
.vs/
*.suo
*.rsuser

## Rider
.idea/

## Logs
*.log

## Environment / secrets
appsettings.Development.json
*.env
google-credentials.json

## NuGet
*.nupkg
packages/

## Uploaded files
uploads/
